*{
    margin: 0;
    padding: 0;
    background-color: rgba(253, 254, 255, 0.575);
}

.container{
    background-color: rgba(253, 254, 255, 0.575);
    
    align-items: first baseline;
}

.menu{
   
    background-color: rgba(253, 254, 255, 0.575);
}
.menu ul{
    background-color: rgba(253, 254, 255, 0.575);

    
    list-style: none;
    padding: 10px;

}
.menu li{
    padding-left: 220px;
}
.menu a:hover {
    background:#7ca9c0;
    justify-content: space-evenly;
    padding: 8px;
    border-radius: 20px;
}
.menu a{
    font-size: 20px;
    color: black;
}

.card{
    width: 300px;
    flex-direction: row;
   
    flex-direction: column;
    top: 20px;
    
}

.user{
    display: flex;
    flex-direction: row;
   
    flex-direction: column;
    top: 20px;
   
    
}

.user card-body{
    display: flex;
    flex-direction: row;
   
    flex-direction: column;
    top: 20px;
    
}

.btn {
    background-color: #000000;
}